QToolButton {
    padding-top: 2px;
    padding-bottom: 2px;
    margin-top: 0px;
    spacing: 2px; 
    background-color: transparent;
    border: none;
    width: 102px;
    height: 98px;
    color: #1A1A1A;
    font-size: 14px;
}

QToolButton:hover {
    background-color: #FFFFFF;
    border-radius: 8px;
}

QToolButton:pressed,
QToolButton:checked {
    background-color: #FFFFFF;
    border-radius: 8px;
    border: 1px solid #34343426;
}
